body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    main.login {
        max-width: 600px;
        text-align: center;
        margin: 20px 0;
    }
}